*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* navbar section  */
.navbar{
        color: rgb(0, 0, 0);
  }
  .containers{
      display: flex;
      max-width: 1200px;
      margin: auto;
      padding: 10px;
      overflow: hidden;
      font-family:'Lato', sans-serif ;
  }
  .navbar .containers{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
  }
  .list{
      display: flex;
      column-gap: 12px;
      list-style: none;
      justify-content:flex-end;
      align-items: center;
      flex-direction: row;
  }
  .list li{
      display: flex;
  }
  li a{
      text-decoration: none;
      color: rgb(0, 0, 0);
  }
  .class{
      display: flex;
      column-gap: 12px;
  }

/* container section  */

.containers{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.red{
    
    height: 600px;
    background-color: rgb(212, 24, 24);
 
}
.white{
    background: rgb(228, 225, 225);
    opacity: 0.8;
    z-index: -1;
    height: 600px;
    
}
.hero{
    display: flex;
    position: absolute;
    transform: translate(33rem, 13rem);
    flex-direction: column;
    line-height: 7rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.text1{
    animation: text 2s 1;
    opacity: 1 ;
}

@keyframes text {
    0%{
        opacity: 0;
        margin-top:-96px;
    }
}
.text2{
    opacity: 1;
    animation: for 2s 1;

}
@keyframes for {
    0%{
        opacity:0;
        margin-top: -107px;
    }

}
.hero span{
    color: rgb(212, 24, 24);
}


/* intro section */
.intro{
    transform: translateY(28rem);
    padding: 10px;
    animation: introd 2s 1 ;
    font-family: 'Oleo Script', cursive;
    line-height: 2rem;
    
    
}
@keyframes introd {
    from{
        opacity: -1;
        margin-bottom: 23px;
    }
    to{
        opacity: 1;
    }
}
.intro h1{
    
    font-size: 2.4rem;
}
.intro p{
    font-size: 1.5rem;
    z-index: -1;
}
.intro span{
    text-shadow: 2px 1px  rgb(198, 0, 216);
    color: rgb(250, 250, 250);
    
}
/* scroll bar  */

.scroll-bar{
    writing-mode: vertical-rl;
    transform: translate(34rem,27rem);
    
}
#scroll{
    width: 4px;
    height: 15%;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    transform: translate(-3rem,21.5rem);
    float: right;
    animation: scrol 2s ease-out infinite;
}
@keyframes scrol {
    0%{
        top: 0px;
        background-color: rgb(0, 0, 0);
        
    }
    50%{
        top: 50px;
        color: black;
    }
    100%{
        top: 1px;
        background-color: rgb(0, 0, 0);
    }
}
/* project */

.project{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px ;
    margin-bottom: 30px;
    font-family:'Lato', sans-serif ;
}
.visible{
    display: none;
}
/* project -section */


.timeline {
    position: relative;
    max-width: 1180px;
    background:rgb(228, 225, 225); 
    margin: 0 auto;
  }
  
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  
  .left {
    left: 0;
  }
  
  
  .right {
    left: 50%;
  }
  
 
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent red;
    /* margin-top: 10%; */
  }
  
 
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent red transparent transparent;
    /* margin-top: 10%; */
  }
  
 
  .right::after {
    left: -16px;
  }
  
  
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    height: 36rem;
  }
  .content img{
      width: 100%;
      margin-top: 4%;
      opacity: 0.9;
  }
  .content img:hover{
      opacity: 1;
  }
  .content a {
      display: inline-block;
      text-decoration: none;
      color: black;
      font-family:'Lato', sans-serif ;
  }
  .content p{
      display: none;
  }
  .footers{
      display: grid;
      margin: 2% auto;
      grid-template-columns: repeat(2,1fr);
      padding: 10px;
      max-width: 1200px;
  }
  .links{
      padding: 10px;
      background:#16d0ee;
      font-family:'Lato', sans-serif ;
  }
  .links img{
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      float:left;
      margin-left: 1%;
  }
  .links .mail{
      color: black;
      display: flex;
      float: right;
      font-size: 15px;
      margin-top: 10px;
  }
  .links2{
    font-family:'Lato', sans-serif ;
      display: flex;
      justify-content: center;
      background: rgb(228, 225, 225);
      align-items: center;
  }
  .aright .contents{
      display: flex;
      float: right;
      background-color: white;
      border-radius: 10px;
      padding: 0px 15px;
      flex-direction: column;
      position: absolute;
      right: 6.7%;
      justify-content: right;
      font-family:'Lato', sans-serif ;
      margin-top: 1%;
  }
  .bright .contents{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 0px 15px;
    float: right;
    flex-direction: column;
    position: absolute;
    right: 53.5%;
    justify-content: right;
    font-family:'Lato', sans-serif ;
    margin-top: 1%;
  }
  .contents h2{
      margin-top: 3px;
    font-family:'Lato', sans-serif ;

  }
  .contents span{
      display: inline-flex;
      flex-direction: column;
      margin-top:20px;
      text-transform: uppercase;
      background: #EDFF05;
      font-size: 1rem;
      text-shadow: 1px 1px rgb(0, 0, 0);
      text-align: center;
      font-size: 21px;

  }
  .viewc{
      display: inline-flex;
      column-gap: 20px;
  }
  .contents{
      width: 40%;
      display: inline-flex;
  }
  .contents p{
      font-size: 1.5rem; 
      margin-top: 5px;
  }
  .contents a{
      display: inline-flex;
      transform: translate(0rem,3rem);
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
      background: #16d0ee;
      width: 35%;
      font-family:'Lato', sans-serif ;
      padding:3px;
      border-radius: 30px;
      justify-content: center;
      transition: 1s ease-in-out;
  }
  .contents a:hover{
      color: #16d0ee;
      background:#000000;
  }

  
  
  
  
  @media screen and (max-width: 600px) {
    
    .hero{
        transform: translate(4rem,11rem);
    }
    .intro{
        transform: translateY(30rem);
        line-height: 19px;
    }
    .intro h1{
        font-size: 1rem;

    }
    .intro p{
        font-size: 1.1rem;
    }
    .content{
        height: 25rem;
    }
    .content img{
        width: 90%;
    }
    .content p{
        display: flex;
    }
    .scroll-bar{
        transform: translate(10rem,33rem);
        font-size: 8px;
    }
    #scroll{
        transform: translate(-1.9rem,29.5rem);
        width: 2px;
        height: 4%;
    }
       .visible{
        display: flex;
    }
    .notvisible{
        display: none;
    }
    .timeline::after {
        left: 31px;
    }
    .list:nth-child(3){
        display: none;
    }
    .class{
        display: none;
    }
    .footers{
        grid-template-columns: 1fr;
        font-size: 12px;
    }
    .links2{
        height: 50px;
    }
    .links .mail{
        font-size: 12px;
    }
    .aright{
        display: none;

    }
    .bright{
        display: none;
    }
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
   
    .left::after, .right::after {
    left: 15px;
    }
    
   
    .right {
    left: 0%;
    }
  }
